.cell{
    width: 75px;
    height: 75px;
    border: 2px solid black;
    font-size: 50px;
    cursor: pointer;
    transition: all 1s linear;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 200px;
    margin: auto;
}

#gameContainer{
    font-family: cursive;
    text-align: center;

}

#restart{
    border: 5px outset darkorange;
    border-radius: 5px;
    width: 70px;
    height: 30px;
    transition: all 1s linear;
}

#restart:hover{
    width: 140px;
    height: 60px;
    font-size: 30px;
    background-color: tomato;
    

}

.cell:hover{
    background-color: violet;
}
